@import "../../../../libs/shared/ui/src/global.css";
@source "../../src/**/*.{ts,tsx,js,jsx}";
@source "../../../../libs/shared/ui/src/**/*.{ts,tsx,js,jsx}";

@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

.rainbow-border {
	animation: rotate 10s linear infinite;
	background: linear-gradient(
		var(--angle),
		#27b3f970 0,
		#fcb51d70 50%,
		#7547d170 100%
	);

	&:after {
		animation: rotate 10s linear infinite;
		background: linear-gradient(
			var(--angle),
			#27b3f970 0,
			#fcb51d70 50%,
			#7547d170 100%
		);
		filter: blur(10px);
		transition: all 0.4s ease-out;
	}
}
